annotated-doc==0.0.5
certifi==2026.7.22
charset-normalizer==3.5.1
contourpy==1.4.0
cycler==0.12.1
dotenv==0.9.9
fonttools==4.65.0
idna==3.19
kiwisolver==1.5.1
loguru==0.7.3
markdown-it-py==4.2.0
matplotlib==3.11.2
mdurl==0.1.2
numpy==2.5.3
packaging==26.3
pandas==3.0.5
pillow==12.3.0
Pygments==2.21.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
requests==2.34.2
rich==15.0.0
seaborn==0.13.2
shellingham==1.5.4
six==1.17.0
-e git+https://github.com/mdc-feature-engineering/sonora-agriclimate-eda.git@aa4d5ec33b82ac94a1d52b70b1a164276a770a96#egg=sonora_agriclimate_eda
tqdm==4.70.1
typer==0.27.2
urllib3==2.7.0
